.laptop-list{
    background-color: #343a40;
    margin: 0 auto;
    padding-top: 3rem;
    padding-right: 15px;
    padding-left: 105px;
    padding-bottom: 3rem;
    h2{
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
        margin-right: 80px;
        margin-bottom: 15px;
    }
}