<div class="container">
    <div class="row">
        <div class="col-4">
            <app-item-card>
                <p class="tenSP">Iphone X</p>
                <p class="mota">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <p class="giaSP">1000$</p>
            </app-item-card>
        </div>
        <div class="col-4">
            <app-item-card>
                <p class="tenSP">Iphone XS</p>
                <p class="mota">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <p class="giaSP">1100$</p>
            </app-item-card>
        </div>
        <div class="col-4">
            <app-item-card>
                <p class="tenSP">Iphone XSMAX</p>
                <p class="mota">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <p class="giaSP">1200$</p>
            </app-item-card>
        </div>
    </div>
</div>