<h3 style="color : red">Interction</h3>
<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let item of danhSachPhim">
            <app-item-phim [thongTinPhim]="item" (eventLike)="getLike($event)"></app-item-phim>
        </div>
    </div>
    <button class="btn btn-success m-3" (click)="viewChildren()">ViewChildren</button>
    <div class="row">
        <div class="col-sm-12">
            <h2>Danh sách Like</h2>
            <div *ngFor="let item of danhSachLike">
                {{item.tenPhim}} - số like : {{item.soLike}}
            </div>
        </div>
    </div>
</div>